<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ketquas?.length === 0">
        <span>No result found</span>
    </div>
    <div class="table-responsive" *ngIf="ketquas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Diemso</span></th>
                <th><span>User</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ketqua of ketquas ;trackBy: trackId">
                <td><a [routerLink]="['/ketqua', ketqua.id, 'view' ]">{{ketqua.id}}</a></td>
                <td>{{ketqua.diemso}}</td>
                <td>
                    {{ketqua.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ketqua', ketqua.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
