<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cauhoi">
            <h2><span>Cauhoi</span> {{cauhoi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nội dung</span></dt>
                <dd>
                    <span>{{cauhoi.noidung}}</span>
                </dd>
                <dt><span>Kết quả</span></dt>
                <dd>
                    <span>{{cauhoi.ketqua}}</span>
                </dd>
                <dt><span>Đáp án 1</span></dt>
                <dd>
                    <span>{{cauhoi.dapan1}}</span>
                </dd>
                <dt><span>Đáp án 2</span></dt>
                <dd>
                    <span>{{cauhoi.dapan2}}</span>
                </dd>
                <dt><span>Đáp án 3</span></dt>
                <dd>
                    <span>{{cauhoi.dapan3}}</span>
                </dd>
                <dt><span>Đáp án 4</span></dt>
                <dd>
                    <span>{{cauhoi.dapan4}}</span>
                </dd>
                <dt><span>Độ khó</span></dt>
                <dd>
                    <div *ngIf="cauhoi.dokho">
                        <a [routerLink]="['/dokho', cauhoi.dokho?.id, 'view']">{{cauhoi.dokho?.dokho}}</a>
                    </div>
                </dd>
                <dt><span>Loại câu hỏi</span></dt>
                <dd>
                    <div *ngIf="cauhoi.loai">
                        <a [routerLink]="['/loai', cauhoi.loai?.id, 'view']">{{cauhoi.loai?.tenloai}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cauhoi', cauhoi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
